html {
  scroll-behavior: smooth;
  font-family: "Space Mono", monospace;
}
body {
  background-color: #000000;
  font-family: "Space Mono", monospace;
}
.nav-link {
  color: var(--white-color);
  font-size: 16px;
}
.title {
  font-size: 40px;
}

.white {
  color: white;
}

:root {
  --white-color: #ffffff;
}

.nav-little {
  color: #606d79;
  padding-top: 9px;
  padding-left: 26px;
}
.navbar-brand {
  width: 70%;
  height: auto;
  font-size: 70px;
  font-weight: 600;
  background-image:url(../../unix_logo.png);
}

.display-4 {
  color: #ffffff;
  font-weight: 600;
}

.nav-btn {
  border-radius: 50px;
}

.color {
  color: whitesmoke;
}

.tutorial {
  color: whitesmoke;
}

.box {
  background: #fff;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.one {
  font-weight: 400;
  margin: -20px -20px 20px;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 700;
  color: blue;
  background: #f8f8f8;
}

.two {
  font-size: 36px;
  color: blue;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.download h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.list {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.card-list {
  padding-bottom: 16px;
}

.download {
  margin: 20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.download ul i {
  color: blue;
  font-size: 18px;
  padding-right: 4px;
}

.try {
  color: whitesmoke;
  background: blue;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  padding: 8px 35px 10px;
  border-radius: 50px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 400;
  font-weight: 600;
  transition: none;
}

.try:hover {
  color: whitesmoke;
  background-color: blue;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 105px;
  box-shadow: 0 9px #999;
}

.read {
  color: #fff;
  background: blue;
}

.ultimate {
  background: blue;
  color: #fff;
  position: absolute;
  width: 200px;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px;
}

.showcase-exp {
  margin-left: 20px;
}

.showcase-image {
  height: 100%;
  width: 100%;
}

.member {
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

.resize_image {
  width: 180px;
}

.info-padding {
  padding-left: 30px;
}

.title-card {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #0a183d;
}

.subtitle {
  display: flex;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.form {
  color: blue;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.header-title {
  font-size: 70px;
}

.btnSearch {
  background-color: blue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btnSearch:hover {
  background-color: #0a183d;
  color: white;
}

.btn-blue {
  background-color: blue;
}

.rubric-text {
  color: #000;
}

.icon-container > .fas {
  font-size: 200%;
  color: var(--red-color);
  border-radius: 8px;
  border: 2px solid var(--blue-color);
  padding: 16px;
  cursor: pointer;
}

.icon-container:hover > .fas {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.big-icon {
  font-size: 200%;
  color: var(--red-color);
}

.bi {
  font-size: 60px;
}

.heightTeam {
  font-size: 60px;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.spacing {
  max-width: 18rem;
}

.picutreSizeReviews {
  max-width: 12rem;
  box-shadow: 0 5px 5px 0 #adb5bd;
}

.titleRev {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reference-card {
  width: 15rem;
  height: 8rem;
}

.imageOurMission {
  height: 60%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pointerMission {
  cursor: pointer;
}

#sdfafg {
  z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
  background-color: #000;
  animation: shake 2.5s infinite;
}

/***********************************************************************************/

.pads {
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: #5dd27f;
  cursor: pointer;
}

.pad2 {
  background: #2d84de;
  cursor: pointer;
}

.pad3 {
  background: #f8b96a;
  cursor: pointer;
}
.pad4 {
  background: #fa783d;
  cursor: pointer;
}
.pad5 {
  background: #7074c7;
  cursor: pointer;
}
.pad6 {
  background: #f72061;
  cursor: pointer;
}

.sound {
  cursor: pointer;
}

/*         text slide           */
.intro-text {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.9s all ease-in-out;
}

.intro-apper {
  opacity: 1;
  transform: translateY(0px);
}

#tutorial-one {
  background-color: blue;
}

#tutorial-two {
  background-color: #7cfc00;
}

/* comments */
.usernameList,
.commentList {
  color: #fff;
}

.firstList,
.lastList {
  color: #fff;
}
